html
    head
        title users
    body
        h1 users list
        form(action="/users/search", method="get")
            input(type="text", name="q")
            button search
        ul
            each user in users
                li=user.name